{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Terms of Service</h1>
        <p>
        You must agree with the terms on this page to use Opsgrid.
        They are subject to change during the beta period.
        </p>
        <p>
        <b>You agree that:</b>
        </p>
        <ul>
            <li>your metrics may be discarded (and not written to Google Sheets) if sent more frequently than any stated rate limits</li>
            <li>the site may be periodically unavailable</li>
        </ul>
    </div>
</div>
{% endblock content%}
